:root {
  --default-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --primary-color: #f6ebf7;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 12px;
  opacity: 0.7;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--default-font-family);

  p {
    font-size: 18px;
    line-height: 1.5;
  }
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 160px 0;
}

.container {
  margin-top: 50px;
}

.container h2 {
  font-family: var(--secondary-font-family);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #666666;
  font-family: var(--secondary-font-family);
}

.content-container {
  padding: 160px 0;
}

.content-container h1 {
  font-size: 50px;
  line-height: 1.2;
}

.content-container h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.content-container img {
  border-radius: 8px;
  width: 450px;
}

.center-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-item {
  margin-top: 40px;
}

.hero-project {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
